[flake8]
max-line-length=88
ignore=
    # Missing type annotation for self in method
    ANN101,
    # Missing type annotation for cls in classmethod
    ANN102,
    # Allow using the Any type hint
    ANN401,
    # Whitespace before ‘:’
    E203,
    # Similar to Pylint line-too-long but Pylint can ignore string literals
    E501,
    # Allow variable names I, O and l (but I and O still prevented by pylint)
    E741,
    # Allow not prefixing fixtures that do not return anything with '_'
    PT004,
    # Line break before binary operator
    W503,
exclude=
    .git,
    __pycache__,
    .tox,
    .vscode,
    .eggs,
    build,
    dist,
    tests/case_files/**/*.py
# Allow methods without return to not specify return type
suppress-none-returning=True
