[flake8]
max-line-length=88
ignore=
    E203,   # Whitespace before ‘:’
    W503,   # Line break before binary operator
    ANN101, # Missing type annotation for self in method
    ANN102, # Missing type annotation for cls in classmethod
    E741,   # Allow variable names I, O and l (but I and O still prevented by pylint)
    ANN401, # Allow using the Any type hint
    E501,   # Too long lines, handled by Pylint
exclude=
    .git,
    __pycache__,
    .tox,
    .vscode,
    .eggs,
    build,
    dist,
    tests/case_files/**/*.py
# Allow methods without return to not specify return type
suppress-none-returning=True
